.status-bar {
    height: 50px;
    child-space: 1s;
    background-color: red;
}

.current-note {
    child-space: 1s;
    color: #ccccff;
    background-color: #111155;
}

.modal {
    background-color: green;
    width: 1s;
    height: 1s;
}